*{
    padding: 0rem;
    margin: 0rem;
}
body{
    color: black;
    background: #E0DEDE;
    font-size: 1rem;
    font-weight: normal;
    font-family: sans-serif;
    font-style: normal;
}
a{
    text-decoration: none;
    color: white;
}

.main-circle{
    position: absolute;
    width: 600px;
    height: 600px;
    opacity: 0.2;
    border-radius: 50%;
    top: -10rem;
    right: -10rem;
    background: #2A246A;
}
.header{
    display: flex;
    padding: 1rem;
    position: fixed;
    width: 100%;
}
.site-data{
    padding: 1rem;
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
.site-logo{
    position: absolute;
    top: 1rem;
}
.site-name{
    padding: 0 0 0 90px;
    font-size: 1.1rem;
    font-weight: 600;
    opacity: .7;
}
.logo-element{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #8272DF;
    transform: rotateZ(45deg);
    display: flex;
    align-items: center;
    font-weight: 600;
    color: white;
    justify-content: center;
}
.logo-element:nth-child(2){
    transform: translateX(35px) rotateZ(45deg);
}
.navbar{
    flex: 1;
}
.nav-options{
    list-style: none;
    padding: 1rem;
}
.nav-option{
    padding: .6rem;
    display: inline;
    cursor: pointer;
}
.main{
    padding: 9rem 1rem 4rem 1rem;
    display: flex;
    justify-content: center;
}
.main-content{}
.main-heading{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem;
}
.main-para{
    margin: 1rem;
    width: 22rem;
    line-height: 1.3rem;
}
.main-btn{
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background: #8267CE;
    margin: 1rem;
    width: 4rem;
    padding: .5rem;
    font-weight: 600;
    border-radius: 4px;
}
.main-img{
    background: url('./img/demo\(1\).png');
    transform: rotate(17deg);
    width: 371.28px;
    height: 198.43px;
}
.news-section{
    padding: 1rem;
    background: #bbb5c6;
    margin: 3rem 0rem 2rem 0rem;
    display: flex;
    justify-content: space-around;
}
.news-headline{
    padding: .5rem;
}
.news-btn{
    background: aliceblue;
    padding: .5rem;
    border: solid black 1px;
    color: #8272df;
    font-weight: 600;
    cursor: pointer;
}
.about-section{
    display: flex;
}
.community-img{
    background-image: url('./img/community.png');
    margin: 1rem;
    width: 20rem;
    height: 14rem;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
}
.about-content{
    flex: 1;
    padding: 1rem;
}
.about-heading{
    font-size: 1.3rem;
    font-weight: 600;
    color: #8272df;
    margin: 1rem 0rem;
}
.about-para{
    line-height: 1.4rem;
}
.project-section{
    padding: 1rem;
    display: grid;
    grid-template-areas:
        "h h h"
        "p p p"
        ". b .";
}
.project-heading{
    font-weight: 600;
    color: #8272df;
    font-size: 1.5rem;
    font-variant-caps: all-petite-caps;
    padding: .5rem;
    grid-area: inherit;
}
.feature-projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.feature-project{}
.project-btn{
    width: 10rem;
    grid-area: b;
}
.footer{
    padding: 1rem;
    display: grid;
    grid-template-areas:
        "copyright links author";
    background-color: #060505;
}
.footer-content{
    color: aliceblue;
    text-align: center;
    font-variant-caps: all-petite-caps;
    font-size: 1.2rem;
}
.footer-content:nth-child(2){
    display: flex;
    justify-content: center;
}
.footer-content:nth-child(3) a{
    font-weight: 600;
    color: aliceblue;
    opacity: .8;
}
.footer-link{
    opacity: .8;
    font-weight: 600;
    text-align: center;
    margin: 0 .5rem;
}